/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*add by shila on 14 dec 2018*/

.books-card-cover {
    padding: 15px 30px;
}

.books-card .books-poster {
    background-position: top;
   
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.books-add-link {
    padding: 0px 30px;
    text-align: right;
}

    .books-add-link a {
        text-decoration: none;
        color: #ffffff;
    }

.books-card .books-poster .books-view-link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    opacity: 0;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    padding-top: 50%;
    text-decoration: none;
    transition: all ease-in-out .2s;
}

    .books-card .books-poster .books-view-link:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, .8)
    }


.books-card .books-title {
    padding: 5px 0px;
  
    font-size: 18px;
}


.book-player-cover {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0,1)
}

/*end of addition by shila*/
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
