@{
    ViewData["Title"] = "About";
}
<h2>SEBO Project</h2>


<p>Sebo Project Members :</p>
    <table>

        <tr><th style="width:70%;">Student Name</th><th>Student Number</th></tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Abdulghafor Nurali</td>
            <td style="text-align:right">300655894</td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Komaldeep Kaur</td>
            <td style="text-align:right">300926834</td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Nikesh Patel</td>
            <td style="text-align:right">300970071</td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Rajandeep Kaur Dhaliwal</td>
            <td style="text-align:right">300926123</td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Rekha Punia</td>
            <td style="text-align:right">300937626</td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Shila Rani Das</td>
            <td style="text-align:right">300969886</td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Yan Karlo</td>
            <td style="text-align:right">300962249</td>
        </tr>
    </table>
