@{
    ViewData["Title"] = "Sebo Project Contact list";
}
<h2>@ViewData["Title"]</h2>

<br />
<br />
<br />
<br />

<address>
    <table>

        <tr style="background-color:lightgrey"><th style="width:70%;">Student Name</th><th>Student Number</th></tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Abdulghafor Nurali</td>
            <td style="text-align:left">
                <a href="mailto:anurlai@my.centennialcollege.ca">anurlai@my.centennialcollege.ca</a>
            </td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Komaldeep Kaur</td>
            <td style="text-align:left">
                <a href="mailto:Kkaur261@my.centennialcollege.ca">Kkaur261@my.centennialcollege.ca</a>
            </td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Nikesh Patel</td>
            <td style="text-align:left">
                <a href="mailto:npate476@my.centennialcollege.ca">npate476@my.centennialcollege.ca</a>
            </td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Rajandeep Kaur Dhaliwal</td>
            <td style="text-align:left">
                <a href="mailto:rdhali36@my.centennialcollege.ca">rdhali36@my.centennialcollege.ca</a>
            </td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Rekha Punia</td>
            <td style="text-align:left">
                <a href="mailto:rpunia2@my.centennialcollege.ca">rpunia2@my.centennialcollege.ca</a>
            </td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Shila Rani Das</td>
            <td style="text-align:left">
                <a href="mailto:sdas47@my.centennialcollege.ca">sdas47@my.centennialcollege.ca</a>
            </td>
        </tr>
        <tr style="border-bottom:dotted; border-bottom-color:grey; border-bottom-width:thin;">
            <td>Yan Karlo</td>
            <td style="text-align:left">
                <a href="mailto:ybravote@my.centennialcollege.ca">ybravote@my.centennialcollege.ca</a>
            </td>
        </tr>
    </table>

</address>
